USE [master]
GO
/****** Object:  Database [BLOG]    Script Date: 06/25/2020 09:36:01 ******/
CREATE DATABASE [BLOG] ON  PRIMARY 
( NAME = N'BLOG', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BLOG.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BLOG_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BLOG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BLOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BLOG]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 06/25/2020 09:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POST](
	[id_post] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[titulo_post] [varchar](50) NULL,
	[texto_post] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
